<a href="https://colab.research.google.com/github/JustNoice/Tugas-Data-Mining/blob/main/Tugas2/Tugas2_Preprocessing_Data_Mining.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [59]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [60]:
dataset = pd.read_csv('datasv.csv')
x = dataset.iloc[:, :-1].values
y = dataset.iloc[:, -1].values

In [61]:
print(x)

[['Crab' 140.0 70.0]
 ['Oyster' 30.0 15.0]
 ['Mussel' 75.0 33.0]
 ['Lobster' 300.0 150.0]
 ['Snail' nan 80.0]
 ['Driftwood' 10.0 5.0]
 ['Trash' nan 10.0]
 ['Clam' 90.0 nan]
 ['Periwinkle' nan 40.0]
 ['Crayfish' 79.0 60.0]]

In [62]:
print(y)

['Yes' 'Yes' 'Yes' 'yes' 'Yes' 'No' 'No' 'Yes' 'No' 'Yes']

In [63]:
from sklearn.impute import SimpleImputer
imputer = SimpleImputer(missing_values=np.nan, strategy='mean')
imputer.fit(x[:, 1:3])
x[:, 1:3] = imputer.transform(x[:, 1:3])

In [64]:
print(x)

[['Crab' 140.0 70.0]
 ['Oyster' 30.0 15.0]
 ['Mussel' 75.0 33.0]
 ['Lobster' 300.0 150.0]
 ['Snail' 103.42857142857143 80.0]
 ['Driftwood' 10.0 5.0]
 ['Trash' 103.42857142857143 10.0]
 ['Clam' 90.0 51.44444444444444]
 ['Periwinkle' 103.42857142857143 40.0]
 ['Crayfish' 79.0 60.0]]

In [65]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
ct = ColumnTransformer(transformers=[('encoder', OneHotEncoder(), [0])], remainder='passthrough')
x = np.array(ct.fit_transform(x))

In [66]:
print(x)

  (0, 1)	1.0
  (0, 10)	140.0
  (0, 11)	70.0
  (1, 6)	1.0
  (1, 10)	30.0
  (1, 11)	15.0
  (2, 5)	1.0
  (2, 10)	75.0
  (2, 11)	33.0
  (3, 4)	1.0
  (3, 10)	300.0
  (3, 11)	150.0
  (4, 8)	1.0
  (4, 10)	103.42857142857143
  (4, 11)	80.0
  (5, 3)	1.0
  (5, 10)	10.0
  (5, 11)	5.0
  (6, 9)	1.0
  (6, 10)	103.42857142857143
  (6, 11)	10.0
  (7, 0)	1.0
  (7, 10)	90.0
  (7, 11)	51.44444444444444
  (8, 7)	1.0
  (8, 10)	103.42857142857143
  (8, 11)	40.0
  (9, 2)	1.0
  (9, 10)	79.0
  (9, 11)	60.0

In [67]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
y = le.fit_transform(y)

In [68]:
print(y)

[1 1 1 2 1 0 0 1 0 1]